body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}

.header-logo,
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.1;
  color: #4d5ae5;
}
.header-logo-span {
  color: #2e2f42;
}
.header-list a {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 2%;
  color: #2e2f42;
}

.header-info a {
  line-height: 1.5;
  letter-spacing: 2%;
  color: #434455;
}
.header-list a:hover,
.header-list a:focus,
.header-info a:hover,
.header-info a:focus {
  color: #404bbf;
}

.hero {
  background-color: #2e2f42;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.1;
  letter-spacing: 2%;
  text-align: center;
  color: #ffffff;
}
.hero-btn {
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 4%;
  width: 169px;
  height: 56px;
  gap: 10px;
  border-radius: 4px;
  border-color: transparent;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  cursor: pointer;
  background-color: #4d5ae5;
  color: #ffffff;
}
.hero-btn:focus,
.hero-btn:hover {
  background-color: #404bbf;
}

.title {
  display: none;
}

.advantages-list h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 2%;
  color: #2e2f42;
}
.advantages-list p {
  line-height: 1.5;
  letter-spacing: 2%;
  color: #434455;
}

.team-title,
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 2%;
  text-align: center;
  color: #2e2f42;
}
.team-list img {
  width: 264px;
  height: 260px;
}
.team-list h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 2%;
  text-align: center;
  color: #2e2f42;
}
.team-list p {
  line-height: 1.5;
  letter-spacing: 2%;
  text-align: center;
  color: #434455;
}

.portfolio-list img {
  width: 360px;
  height: 300px;
}
.portfolio-list h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 2%;
  color: #2e2f42;
}
.portfolio-list p {
  line-height: 1.5;
  letter-spacing: 2%;
  color: #434455;
}

.footer {
  background-color: #2e2f42;
}
.footer-logo-span {
  color: #f4f4fd;
}
.footer-text {
  line-height: 1.5;
  letter-spacing: 2%;
  color: #f4f4fd;
}
